.DS_Store

# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
DerivedData/
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
.swiftpm-cache
/Packages

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
